<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Somebody just posted a new job! To view, just follow this link: <%=post_url(@post)%>
    </p>
  </body>
</html>
