<h1>About</h1>

<p>
  This job board provides a convenient way for alumni and other employers to reach out to Grinnell College students (and alumni) with computer science-related employment opportunities.
  To post a job, <%= link_to "click here",new_post_path%>. All opportunities submitted must be approved by a member of the computer science faculty before they are made visible to job seekers.
  For non-computer science jobs, please use <a href="https://grinnell-csm.symplicity.com/students/">PioneerLink</a> instead.
</p>
<br>
<p>
  Web app developed by the "Tall Boys" in Spring 2017 for <a href="http://www.cs.grinnell.edu/~rebelsky/">Sam Rebelsky's</a> CSC 322 class.<br>

  For questions or assistance, contact <a href="mailto:rebelsky@grinnell.edu">Sam Rebelsky</a>
</p>
