<body class="noyceBG">
  <h1 class="header-text">Grinnell Computer Science Careers</h1>
  <div class="text-center" style="padding:100px;">
    <a href="/users/sign_in" class="btn btn-info btn-lg horizontal-space">
      <i class="fa fa-cog" aria-hidden="true"></i> Login
    </a>
    <a href="/posts/new" class="btn btn-info btn-lg horizontal-space">
      <i class="fa fa-cog" aria-hidden="true"></i> New Post
    </a>
    <a href="/users/sign_up" class="btn btn-info btn-lg horizontal-space">
      <i class="fa fa-cog" aria-hidden="true"></i> Sign Up
    </a>
  </div>
</body>
<%= render 'footer' %>
